<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="register-container">
        
        <div class="register-box">
            <h2>Register</h2>
            <form (ngSubmit)="onClick()"  *ngIf="whatToDo==0">
                <div class="input-group">
                    <label for="username">Mobile Number</label>
                    <input type="text" id="username"[(ngModel)]="mobNumber" name="username" required>
                </div>
                <div class="input-group">
                    <button type="submit" class="register-button">Register</button>
                </div>
                <div class="login-link">
                    <p>Already have an account? <a href="#">Login here</a></p>
                </div>  
            </form>
              <form (ngSubmit)="onSumbit()" *ngIf="whatToDo==1">
                <div class="input-group" >
                    <label for="username">Enter OTP</label>
                    <input type="text" id="username"[(ngModel)]="otp" name="OTP" required>
                </div>
                <div class="input-group">
                    <button type="submit" class="register-button">Register</button>
                </div>
            </form>
            <form (ngSubmit)="onSumbitPassword()" *ngIf="whatToDo==2">
                <div class="input-group" >
                    <label for="username">Enter Password</label>
                    <input type="text" id="username"[(ngModel)]="password" name="password" required>
                </div>
                <div class="input-group">
                  <label for="conformPassword">Conform Password</label>
                  <input type="text" id="conformPassword" [(ngModel)]="conformPassword" name="conformPassword" required>
                </div>
                <div class="input-group">
                    <button type="submit" class="register-button">Register</button>
                </div>
            </form>
            <form (ngSubmit)="onSumbitPin()" *ngIf="whatToDo==3">
                <div class="input-group" >
                    <label for="username">Enter PIN</label>
                    <input type="number" id="username"[(ngModel)]="upiPin" name="upiPin" required>
                </div>
                <div class="input-group">
                    <button type="submit" class="register-button">Register</button>
                </div>
            </form>
           
        </div>
    </div>
</body>
</html>
