<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhonePe User Profile</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <div>
    <div class="profile-container">
        <div class="profile-header">
            <img src="assets/profile.jpg" alt="User Avatar" class="profile-avatar">
            <h2 class="profile-name">{{phonePayUserProp.name}}</h2>
            <p class="profile-phone">{{phonePayUserProp.mobNumber}}</p>
        </div>
        <div class="profile-details">
            <div class="detail-item">
                <span class="detail-title">UPI ID:</span>
                <span class="detail-value">john.doephonepe</span>
            </div>
            <div class="detail-item">
                
                <span class="detail-title">Email:</span>
                <span class="detail-value">john.doeexample.com</span>
            </div>
            <div class="detail-item">
                <span class="detail-title">KYC Status:</span>
                <span class="detail-value">Completed</span>
            </div>
            <div class="detail-item">
                <span class="detail-title">Linked Bank:</span>
                <span class="detail-value">HDFC Bank</span>
            </div>
           
        </div>
    </div>
</div>
</body>
</html>
